.card {
  background: url("https://media.giphy.com/media/SJC1hiZ3s97u6gilnj/giphy.gif");

  border-radius: 2px;
  height: 325px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: #6caddc;
}
.card > .img-container > img {
  width: 100%;
}

/* .card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
} */

/* .card > .content > ul > li {
  margin-top: 18px;
} */

.card > .remove {
  color: #ff1744;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
}

.card > .img-container:hover {
  transform: rotate(360deg);
  /* transform: scale(1.3); */
  transition: all 1s;
  /* background: radial-gradient(rgb(93, 194, 27), rgb(39, 31, 14)); */
}
